<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Memories history</title>
</head>
<body>
    <div class="container">
        {% if count > 0 %}
            <div class="message">У вас есть {{ count }} воспоминаний:</div>
            {% for memory in memories %}
                <h2>{{ memory.title }}</h2>
                <p>{{ memory.location }}</p>
                <p>{{ memory.comment }}</p>
                <hr>
            {% endfor %}
        {% else %}
            <p>У вас нет воспоминаний.</p>
        {% endif %}
    </div>

</body>
</html>